@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Outfit:wght@400;700&display=swap');
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

.container{
   width: 30%;
   margin: 2% auto;
   background-color: red;
   border-radius: 20px;
}

.container img{
    width: 90%;
    margin: 5% 0 5% 0;
}

.container div{
    width: 90%;
    margin: auto;
    font-size: 40px;
}

.container p{
    width: 70%;
    margin: 2% auto;
    font-size: 19px;
}